body{
    font-family: "PT Sans Caption", sans-serif;
}
.elements {
    background-color: #f7ecde;
}
.elements h1 {
    font-size: 50px;
    font-family: "Pacifico", cursive;
    color: #352e28;
    z-index: 3;
}
.elements h1::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    bottom: 10px;
    background-color: #fec260;
    transition: height 350ms;
    z-index: -1;
}
.bookmark-body {
    border-top: 2px dotted #352e28;
    border-bottom: 2px dotted #352e28;
}
.bookmark-body h2 {
    font-family: "Righteous", cursive;
    font-size: 25px;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.red{
    box-shadow: 0 0 0 4px #dc35456b;
    background-image: url(../imgs/red\ wrong.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 25px;
}
.green{
    box-shadow: 0 0 0 4px #3ca55c63;
    background-image: url(../imgs/green_double_circle_check_mark.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 25px;
}
.btn-submit {
    color: #fff;
    background-color: #d1512d;
    display: block;
    margin: auto;
}
.btn-submit:hover{
    color: #fff;
    background-color: #bb4120;
}
.btn-visit {
    color: #fff;
    background-color: #9eb23b;
}
.btn-visit:hover {
    color: #fff;
    background-color: #8a9e23;
}
.btn-delete{
    color: #fff;
    background-color: #eb1d36;
}
.btn-delete:hover {
    color: #fff;
    background-color: #d30820;
}
